body{
	background-color: grey;
}
div.btn{
	white-space: normal;
}
.centrado{
	margin-top: 10vh;
	border:2px solid black;
	background-color: white;
	border-radius: 10px;
	padding: 1em;
}
.pregunta{
	margin-top: 1em;
	padding-bottom: .5em;
	border-bottom: 2px solid grey;
}
.respuestas{
	margin-bottom: 1em;
	padding-top: .5em;
}